<li>
	{{name}}


	<button class="icon-btn add-btn change-devour btn btn-outline-dark" data-id="{{id}}" data-devoured="{{devoured}}">
		<div class=" add-icon"></div>
		<div class="btn-txt">Add to Order</div>
	</button>

</li>