<div class="jumbotron">

    <h1 class="display-4">Get Last eSports News</h1>

    <div id="buttons">
        <a class="btn btn-primary btn-lg scrape-btn" role="button">Search Now</a>
        <a href="/favorites" class="btn btn-primary btn-lg saved-btn" role="button">Favorites</a>
    </div>

</div>


<section>

    {{#each articles}}
    {{#unless saved}}
    {{> articles/articles}}
    {{/unless}}
    {{/each}}

</section>


{{> modals/scrape-modal}}
{{> modals/saved-modal}}